<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Facultad de la Universidad Nacional de Jujuy</title>
    <link data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <div class="container">
            <img src="/images/LogoUnju.png" alt="Logotipo UNJU" class="mb-2" style="height: 50px;">
            <h1>Universidad Nacional De Jujuy</h1>
            <p class="lead">Flammam Tvam Hoc Foco Accende lat. "Enciende tu antorcha en este fuego"</p>
        </div>
    </header>
</body>
</html>
